In [1]:
import sys,requests as rq,pandas as pd
sys.path.insert(0,"../projectanalysis")
from config import *
print(equipes_endpoints)

http://localhost:8080/api/equipes

In [2]:
url = membres_endpoints
response = rq.get(url)
print(response.json())
df = pd.json_normalize(response.json())
df

[{'id': 1, 'nom': 'Menard', 'prenom': 'Lucie', 'pseudo': 'lmenard', 'mdp': None, 'equipes': []}, {'id': 2, 'nom': 'Iavarone', 'prenom': 'Louis', 'pseudo': 'liavarone', 'mdp': None, 'equipes': []}]

   id       nom prenom     pseudo   mdp equipes
0   1    Menard  Lucie    lmenard  None      []
1   2  Iavarone  Louis  liavarone  None      []